@font-face {
    font-family: NotoSansFont;
    src: url("res/NotoSansSymbols-Regular.ttf");
}

body {
  margin: 0;
}
.controlbar {
  width: 100%;
  position: absolute;
  bottom: 0px;
  margin-left: 10px;
}

.control {
  font-family: "NotoSansFont";
}

.speedcontrols {
  float: right;
  width: 10%;
}

.speedcontrols p {
  font-size: 12px;
}


#turn_slider{
  width: 85%;
}

.view {
  position: relative;
}
