@font-face {
    font-family: NotoSansFont;
    src: url("res/NotoSansSymbols-Regular.ttf");
}

body {
  margin: 0;
}

#view {
  position: relative;
}

#game {
  margin: 0 auto;
  width: 100%;
  height: 95vh;
}

#score {
  width: 20%;
  height: 50vh;
  position: absolute;
  right: 0;
}

#hide {
  position: absolute;
  bottom: 6vh;
  right: 0;
}

#unhide {
  position: absolute;
  bottom: 0;
  right: 0;
}

#controlbar {
  height: 6vh;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.speed {
  float: right;
  margin-right: 2%;
}

.speedcontrols {
  float: right;
  width: 20%;
  min-width: 220px;
}

.control-button {
  width: 2.5%;
}

.speedcontrols > .control-button {
  width: 13%;
  min-width: 30px;
}


 .control-button > .img {
  width: 100%;
  height: auto;
}

.controlbar p {
  font-size: 12px;
  width: auto;
  float: left;
  text-align: center;
}

#file-select {
  float: left;
}

#turn_slider{
  width: 100%;
}
