@font-face {
    font-family: NotoSansFont;
    src: url("res/NotoSansSymbols-Regular.ttf");
}

#game {
  height: 85vh;
  width: auto;
  align-self: center;
}
.controlbar {
  height: 15vh;
  width: 100%;
}

.speedcontrols {
  position: relative;
  float: right;
}

.speedcontrols > .control-button {
  width: 50px;
  height: 50px;
  position: relative;
}

.speedcontrols > .control-button > .img {
  width: 100%;
  height: auto;
}


.controlbar p {
  font-size: 12px;
  width: auto;
  float: left;
  text-align: center;
}

#file-select {
  float: left;
  height: 50px;
}

#turn_slider{
  width: 100%;
}

.view {
  position: relative;
}
