@import "../../app.global.scss";

#host {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.3fr 150px 1fr 1fr;
  grid-template-areas:
    "header header"
    "add-buttons  map-selector"
    "bot-list map-selector"
    "bot-list .";

  h1,
  h2 {
    color: $secondary;
  }
}

.tagInfoText {
  font-size: 14px;
  margin-left: 8px;
}

.tagInfoText::after {
  content: " ";
  font-size: 8px;
  color: #ccc;
  margin-left: 8px;

  border-top-color: rgba(255, 255, 255, 0.12);
  border-top-width: 1px;
  border-top-style: solid;
  flex: auto;
  height: 0;
  // margin: 0 -16px;
  min-width: 32px;
}

.header {
  grid-area: header;

  h1 {
    text-align: center;
  }
}

#addBotButtons {
  grid-area: add-buttons;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header header"
    ". ."
    ". .";

  grid-gap: 5px;

  h2 {
    grid-area: header;
  }
  p {
    display: flex;
    align-items: center;
  }
}

#mapSelector {
  grid-area: map-selector;
}

#botList {
  grid-area: bot-list;
}

.mapPreview {
  width: 128px;
  height: 128px;
  border: 1px #ccc dashed;
  margin-bottom: 20px;
}

.header,
#addBotButtons,
#mapSelector,
#botList {
  padding: 20px;
}
