@font-face {
    font-family: NotoSansFont;
    src: url("res/NotoSansSymbols-Regular.ttf");
}

body {
  margin: 0;
}

#box {
  height: 100vh;
  width: 100vw;
}

#blockly {
  width: 100%;
  height: 100%;
}

#visualizer {
  height: 100%;
}

#game {
  width: 100%;
  height: 99.7vh;
  margin: 0;
  box-sizing: border-box;
}

#score {
  width: 20%;
  height: 50vh;
  position: absolute;
  right: 1px;
}

#hide {
  position: absolute;
  bottom: 10vh;
  right: 1px;
}

#unhide {
  position: absolute;
  bottom: 0;
  right: 0;
}

#hide_score {
  position: absolute;
  right: 20%;
}

#unhide_score {
  position: absolute;
  right: 0;
}

#controlbar {
  height: 6vh;
  position: absolute;
  bottom: 4vh;
  width: 99.8%;
}

#end_card {
  position: absolute;
  top: 30vh;
  height: 30vh;
  width: 40%;
  left: 30%;
  text-align: center;
  font-size: 50px;
  font-family: 'Tahoma';
  background-color: white;
  border: 1px solid black;
}

#end_card p  {
  margin: 0;
}

#end_card p:first-of-type {
  margin-top: 3vh;
}

.speed {
  float: right;
  margin-right: 2%;
}

.speedcontrols {
  float: right;
  min-width: 220px;
  width: 20%;
}

.control-button {
  width: 2%;
  min-width: 30px;
}

.speedcontrols > .control-button {
  width: 13%;
  min-width: 30px;
}


 .control-button > .img {
  width: 100%;
  height: auto;
}

.controlbar p {
  font-size: 12px;
  width: auto;
  float: left;
  text-align: center;
}

#file-select {
  float: left;
}

#turn_slider{
  width: 100%;
}
