@import url('./node_modules/font-awesome/css/font-awesome.min.css');

/* Keep this at the top so it keeps having priority */
.invisible {
  display: none !important;
}

body {
  margin: 0;
}

header {
  height: 48px;
  display: grid;
  grid-template-columns: auto auto 1fr 1fr;
  grid-template-areas:
    "logo uname opponent toolbar"
}

header figure.logo {
  grid-area: logo;
  display: inline-block;

  margin: 0px 0px 0px 1em;
  padding-top: 4px;
}

header figure img {
  height: 40px;
}

.uname-form {
  grid-area: uname;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column-reverse;
  font-family: sans-serif;
  margin-left: 1em;
}

.uname-form > label {
  font-size: 10px;
  color: gray;

  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

#uname {
  border: none;
  border-bottom: 1px solid gray;
  outline: none;

  padding: 2px 0px;
  font-size: 16px;
  color: #FF7F00; /* color of caret */
  -webkit-text-fill-color: black;

  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

input[type=text]#uname:focus {
  border-bottom: 1px solid #FF7F00;
  outline: none;
}

input[type=text]#uname:focus + label {
  color: #FF7F00;
  font-size: 10px;
}

.opponent-form {
  grid-area: opponent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column-reverse;
  font-family: sans-serif;
  margin-left: 1em;
}

.opponent-form > label {
  font-size: 10px;
  color: gray;
  margin-bottom: 7px;
}

#box {
  height: 100vh;
  width: 100vw;
}

#blockly {
  width: 100%;
  height: 100%;
}

#visualizer {
  height: 100%;
}

#game {
  width: 100%;
  height: 99.7vh;
  margin: 0;
  box-sizing: border-box;
}

#score {
  width: 20%;
  height: 50vh;
  position: absolute;
  right: 1px;
}

#hide {
  position: absolute;
  bottom: 0;
  right: 1px;
}

#unhide {
  position: absolute;
  bottom: 0;
  right: 0;
}

#hide_score {
  position: absolute;
  top: 5px;
  right: 19%;
}

#unhide_score {
  position: absolute;
  right: 0;
}

#controlbar {
  height: 6vh;
  position: absolute;
  bottom: 4vh;
  width: 99.8%;
}

#end_card {
  position: absolute;
  top: 30vh;
  height: 30vh;
  width: 40%;
  left: 30%;
  text-align: center;
  font-size: 50px;
  font-family: 'Tahoma';
  background-color: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#end_card p {
  width: 100%;
}

#end_card button {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
}

#turn_progress {
  float: right;
  font-family: 'Tahoma';
  font-size: 1.1vw;
  line-height: 0;
  margin-left: 3%;
  align-items: center;
  justify-content: center;
}

.speed {
  float: left;
  width: 50%;
  line-height: 0;
  font-family: 'Tahoma';
  font-size: 1.1vw;
}

.turncontrols {
  position: absolute;
  top: 30px;
  display: flex;
  min-width: 220px;
  width: 25%;
}

.control-button {
  width: 2%;
  min-width: 30px;
}

.close {
  outline: none;
  width: 25px;
  height: 25px;
  text-align: center;
  background: inherit;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border: 0;
}

#controlbar button{
  width: 15%;
  height: 40px;
  min-width: 30px;
  font-size: 1vw;
}

.speedcontrols {
  display: flex;
  float: right;
  width: 15%;
}

.controlbar p {
  font-size: 12px;
  width: auto;
  float: left;
  text-align: center;
}

#file-select {
  float: left;
}

#turn_slider{
  width: 100%;
}

.header-toolbar {
  grid-area: toolbar;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  list-style: none;

  height: 48px;
  margin: 0;

}

.header-toolbar > li {
  display: initial;
  margin: 0px 3px;
}

.header-toolbar > li > button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #bf1e2e;
  color: #fff;
  outline: none;

  text-align: center;
  font-size: 22px;
  z-index: 999;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border: 0;
  overflow: hidden;
}

.header-toolbar > li > button:hover {
  transform: scale(1.05);
}

/* Slider should prob use a lib for this but I lack self respect */

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.8px 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #e6e6e6;
  border-radius: 2.5px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #e6e6e6;
  border-radius: 2.5px;
}

input[type=range]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #1f77b4;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}

input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #1f77b4;
  cursor: pointer;
  margin-top: -7.5px;
}

input[type=range]:hover::-webkit-slider-runnable-track {
  height: 8px;
}

input[type=range]:hover::-moz-range-track {
  height: 8px;
}

input[type=range]:hover::-webkit-slider-thumb {
  width: 25px;
  height: 25px;
  margin-top: -8.5px;
  border-radius: 12.5px;
}

input[type=range]:hover::-moz-range-thumb {
  width: 25px;
  height: 25px;
  margin-top: -8.5px;
  border-radius: 12.5px;
}
