:local {
  .homePage {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    .configController {
      width: 40%;
      padding: 10px 10px 10px 10px;
    }
    .visualizer {
      width: 60%;
    }
  }
}