@import '~Styles/lib.global';

.botPage {
    width: 100%;
    height: 100%;

    .botOverview {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        justify-content: flex-start;
        overflow: auto;
        flex-wrap: wrap;
        .botContainer {
            margin: 15px;
            border: 1px solid $primary;
            min-width: 450px;
            min-height: 450px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .bot {
                width: 100%;
                height: 100%;
                .showBotView {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    .showContent {
                        width: 90%;
                        height: 90%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-around;
                        .command {
                            background: #f4f4f4;
                            border: 1px solid #ddd;
                            border-left: 3px solid #f36d33;
                            color: #666;
                            page-break-inside: avoid;
                            font-family: monospace;
                            font-size: 15px;
                            line-height: 1.6;
                            margin-bottom: 1.6em;
                            max-width: 100%;
                            overflow: auto;
                            padding: 1em 1.5em;
                            display: block;
                            word-wrap: break-word;
                        }
                        .controls {
                                display: flex;
                                width: 100%;
                                flex-direction: row;
                                justify-content: space-between;
                        }
                    }
                }
                .editBotView {
                    padding: 10px;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    form {
                        height: 90%;
                        width: 90%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .controls {
                            display: flex;
                            width: 100%;
                            flex-direction: row;
                            justify-content: space-between;
                        }
                        input {
                            width: 100%;
                        }
                    }
                }
                .add {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    button {
                        font-size: 3rem;
                    }
                }
            }
        }
    }

    

    // .bots {
    //     display: flex;
    //     width: 100%;
    //     height: 100%;
    //     align-items: center;

    //     .botsListPane {
    //         width: 100%;
    //         height: 100%;
    //         display: flex;
    //         flex-direction: column;
    //         align-items: center;
    //         justify-content: flex-start;

    //         ul {
    //             width: 100%;
    //             list-style-type: none;

    //             li {
    //                 padding: 20px 20px; // border-top: 1px solid $tertiart
    //                 color: $text;
    //                 border-bottom: 1px solid $tertiary;
    //                 margin: 0 10px;
    //             }
    //         }

    //         .newBot {
    //             width: 100%;
    //             min-height: 30px;
    //             text-align: center;
    //             font-size: 1.5rem; // border-bottom: 1px solid $tertiary; 
    //             background: lighten($background, 5);

    //             a {
    //                 color: $text;
    //                 width: 100%;
    //             }
    //         }

    //         .newBot:hover {
    //             background: lighten($background, 10);
    //         }
    //     }

    //     .botEditor {
    //         height: 100%;
    //         width: 100%;
    //         padding: 10% 10%;
    //     }
    // }
}