.scoreboard {
  position: absolute;
  width: 25%;
  background-color: transparent;
  right: 0;
  top: 3%;
  padding: 1%;
  font-size: 1rem;
  td {
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

