.visualizer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    height: 100%;
      
    .endCard {
        position: absolute;
        top: 30vh;
        height: 30vh;
        width: 40%;
        left: 30%;
        text-align: center;
        font-size: 50px;
        font-family: 'Tahoma';
        background-color: white;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            width: 100%;
        }
        button {
            position: absolute;
            top: -12.5px;
            right: -12.5px;
        }
    }
    .close {
        outline: none;
        width: 25px;
        height: 25px;
        text-align: center;
        background: inherit;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        border: 0;
    }
}

