//------------------------------------------------------------------------------
// Bulma
//------------------------------------------------------------------------------
@import '~bulma/sass/utilities/initial-variables';

// Custom Variables
$background: #201f1d;
$primary:#FFFFFF;
$secondary: #DE8D47;
$tertiary: #868685;

// Bulma variables
$body-background-color: $background;
$text: $primary;

$navbar-background-color: $background;
$navbar-item-hover-background-color: lighten($background, 5);
$navbar-item-color: $primary;

$link: $secondary;
$link-active: $secondary;
$link-hover: $secondary;

$menu-item-hover-color: $secondary;
$menu-item-active-color: $secondary;


@import '~bulma/bulma';

//------------------------------------------------------------------------------
// Global Sass
//------------------------------------------------------------------------------
html,
body {
  // Hide scrollbar, scrollbars should be added only on the
  // the elements that require them.
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
}

#root {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  border-bottom: 1px solid $tertiary;
}

.button {
  background-color: $background;
  color: $primary;
  border-color: $primary;
}