:local {
  .scoreboard {
    position: absolute;
    border: 1px solid black;
    background-color: #ffffff;
    right: 0;
    top: 3%;
    padding: 1%;
    font-family: sans-serif;
    font-size: 1vw;
  }
}
