.history {
  display: flex;
  flex-direction: row; // background-color: red;
  align-items: stretch;
  justify-content: space-between; // flex-grow: 1;
  width: 100%;
}

.leftPane {
  width: 100%;
  margin: 0px;
  padding: 0;
  list-style-type: none;
  background-color: #999999;
}

.gameElement :hover {
  background-color: #808080;
}

.rightPane {
  // background-color: blue;
  width: 100%
}

.matchEntry {}