@import '../../../app.global.scss';

.allGraphsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  .sections {
    width: 100%;
    padding: 20px 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    .section {
      min-height: 100px;
      display: flex;
      flex-shrink: 0; // Holy fuck this is important
      overflow-x: auto;
      box-sizing: content-box;
      * {
        flex-shrink: 0;
        margin: auto;
      }
    }
  }
}

.svgWrapper {}

.scoreLineGraph {
  .xAxis {
    line,
    path {
      stroke: $tertiary;
    }
    text {
      fill: $tertiary;
    }
  }

  .yAxis {
    line,
    path {
      stroke: $tertiary;
    }
    text {
      fill: $tertiary;
    }
    >text {
      fill: $primary;
      font-size: 1.5em;
      text-anchor: end;
    }
  }
}

.pieArc {
  path {
    stroke: $background;
    stroke-width: 3px;
  }
  text {
    text-anchor: middle;
    fill: $primary;
  }
}