.botSelector {
  height: 50vh;
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.availableBots {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #999999;
}

.selectedBots {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #999999;
}

.botEntry {
  text-decoration: none;
  color: black;
}

.botEntry:hover {
  background-color: grey;
}

.botEntry:hover button {
  display: inline;
}

.loadBot {
    display: none;
    float: right;
}
.listTitle {
  background-color: #808080;
}
