@import '../../app.global.scss';

.playPageContainer {
  width: 100%; // height: 100%;
  flex: auto;
  display: flex;
  .playPage {
    width: 100%;
    flex-grow: 1;
    height: inherit;
    display: flex;
    flex-direction: row;
    .leftColumn {
      width: 50%;
      flex-grow: 1;
      height: 100%;
      margin-right: 5px;
      .lobbyContainer {
        width: 100%;
        height: 75%;
        margin-bottom: 1px;
      }
      .serverControlsContainer {
        width: 100%;
        height: 25%;
      }
    }
    .rightColumn {
      flex-grow: 1;
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      .configContainer {
        width: 100%;
        height: 50%; // TODO Solve this decently
        margin-bottom: 1px;
      }
      .localBotSelectorContainer {
        flex-grow: 1;
        height: 50%;
        width: 100%;
      }
    }
  }
}

.lobby {
  width: 100%;
  .lobbySlots {
    width: 100%;
  }
}

.sectionWithHeader {
  display: flex;
  flex-direction: column;
  height: 100%;
  .sectionHeader {
    padding: 3px 5px;
    background-color: $secondary;
  }
  .verticalGrowAndScroll {
    flex: 1 1 auto;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    >* {
      width: 100%;
    }
  }
}

.mapSelector {
  display: flex;
  flex-flow: row;
  overflow-y: scroll;
  .mapPreview {
    display: flex;
    justify-content: center;
    margin: 20px 20px;
    .map {
      width: 100px;
      background-color: $tertiary;
      height: 100px;
    }
    .selectedText {
      color: $primary;
      font-family: FontAwesome;
      font-size: 30px;
    }
  }
}

.serverControls {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .controlButton {
    color: $text;
  }
}

// .playPage {
//   display: flex;
//   width: 100%;
//   height: 100%;
//   flex-direction: column;
//   overflow-y: auto;
//   .botsListPane {
//     width: 100%;
//     height: 50%;
//     .botsHeader {
//       @extend %header;
//     }
//     .newBot {
//       &:hover {
//         background: lighten($background, 10);
//       }
//       padding: 20px 20px;
//       text-align: center; // background: lighten($background, 5);
//     }
//     .botListItem {
//       padding: 20px 20px;
//       .name {
//         font-size: 1.5rem;
//       }
//       .command {
//         color: $tertiary;
//       }
//       p {
//         white-space: nowrap;
//         overflow: hidden;
//         text-overflow: ellipsis;
//       }
//       &:hover {
//         background: lighten($background, 5);
//       }
//       &.selected {
//         border-left: solid 2px $secondary;
//         background: lighten($background, 10);
//       }
//     }
//   }
//   .matchSetupPane {
//     width: 100%;
//     height: 50%;
//     display: flex;
//     justify-content: space-between;
//     flex-direction: column;
//     .selectedBotsOverview {
//       display: flex;
//       width: 100%;
//       justify-content: center;
//       align-items: center;
//       .botTag {
//         padding: 0 20px;
//         span {
//           background: lighten($background, 10);
//           border-radius: 5px;
//           font-size: 1.2rem;
//           padding: 10px 10px;
//         }
//       }
//     }
//     .playButton {
//       width: 100%;
//       display: flex;
//       padding: 50px 0;
//       justify-content: center;
//       input {
//         width: 60%;
//         font-size: 4rem;
//         padding: 0;
//         height: 100px;
//         border: 2px solid $secondary;
//       }
//     }
//     .options {
//       padding: 0 10%;
//     }
//     .setupHeader {
//       @extend %header;
//     }
//   }
// }
// %header {
//   text-align: center;
//   background: $secondary;
//   font-size: 1.5rem;
// }