@import '../../app.global.scss';

.playPage {
  display: flex;
  width: 100%;
  .botsListPane {
    flex-grow: 1;
    width: 100%;
    max-width: 50%;

    .botsHeader {
      text-align: center;
      background: $secondary;
      font-size: 1.5rem;
    }

    .newBot {
      &:hover {
        background: lighten($background, 10);
      }
      padding: 20px 20px;
      text-align: center; // background: lighten($background, 5);
    }

    .botListItem {
      padding: 20px 20px;
      .name {
        font-size: 1.5rem;
      }
      .command {
        color: $tertiary;
      }
      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        direction: rtl;
      }
      &:hover {
        background: lighten($background, 5);
      }
      &.selected {
        border-left: solid 2px $secondary;
        background: lighten($background, 10);
      }
    }
  }
  .matchSetupPane {
    flex-grow: 1.5;
    width: 100%;
  }
}